body {
}

.panel
{
	background-color: #EFEFEF;
}
.header
{
	background-color: #31A400;
	color: White;
	height: 30px;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10pt;
	line-height: 28px;
}