body {
}
.main
{
	width: 1200px;
	height: 800px;
}

.loginHeader
{
	background-color: #31A400;
	color: White;
	height: 50px;
	width: 100%;
	text-align: right;
	vertical-align: middle;
	font-size: 10pt;
	line-height: 45px;
}

.labelHeader
{
	font-weight: bold;
	font-family: Verdana;
	font-size: 10pt;
}

.link
{
	color: White;
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana;
}

.link:visited
{
	color: Blue;
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana;
}

.header
{
	background-color: #DFFFF0;
	width: 100%;
	height: 60px;
	font-family: Harrington;
	font-size: 26pt;
	line-height: 55px;
	vertical-align: middle;
	text-align: left;
}