<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="FivesConnectionString" connectionString="server=localhost;database=FivesLivraria;user=sa;password=sanebras#0;" providerName="System.Data.SqlClient"/>
    <!--<add name="FivesConnectionString" connectionString="server=.\SqlServer;database=livraria;user=sa;password=leandro;" providerName="System.Data.SqlClient"/>--> 
    <!--<add name="FivesConnectionString"
         connectionString="server=fiveslivraria.no-ip.org;database=FivesLivraria;user=fatec;password=f1v&amp;$l1vr@r1@;"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <location path="LostPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Principal.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CadastroCliente.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Tela para escolha da página a visualizar-->
  <location path="CaixaOpcoes.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Tela para venda-->
  <location path="CaixaBalcao.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Tela para relatorios-->
  <location path="CaixaPedidos.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Tela para acoes de caixa abertura/fechamento-->
  <location path="CaixaAcoes.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880" defaultUrl="Default.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages theme="Theme_Default"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR"/>
    <machineKey validationKey="6EAB6D8359424D6D8812F8F689D4C7A3E3C352D8393948EB" decryptionKey="8C82F90AAFBD43C4AB13EC5168F28079FF0C267A222C41AC" validation="SHA1" decryption="AES"/>
    <membership defaultProvider="FivesMembershipProvider">
      <providers>
        <clear/>
        <add name="FivesMembershipProvider" type="FivesLivraria.Security.FivesMembershipProvider" connectionStringName="FivesConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="FivesLivraria" passwordFormat="Encrypted"/>
      </providers>
    </membership>
    <roleManager defaultProvider="FivesRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="FivesRoleProvider" type="FivesLivraria.Security.FivesRoleProvider" connectionStringName="FivesConnectionString" applicationName="FivesLivraria"/>
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="sendEmailSettings" value="address=fiveslivraria@yahoo.com.br;host=smtp.mail.yahoo.com.br;port=25;username=fiveslivraria;password=f1v&amp;$l1vr@r1@"/>
    <add key="imageMaxWidth" value="120"/>
    <add key="imageMaxHeight" value="188"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>