body 
{
	font-family: Verdana, Tahoma;
	font-size: 10pt;
}

.divMain
{
	width: 1200px;
	height: 800px;
}

.divUserHeader
{
	background-color: #31A400;
	color: White;
	height: 50px;
	width: 100%;
	text-align: right;
	vertical-align: middle;
	font-size: 10pt;
	line-height: 45px;
}

.divHeader
{
	background-color: #DFFFF0;
	width: 100%;
	height: 60px;
	font-family: Harrington;
	font-size: 26pt;
	line-height: 55px;
	vertical-align: middle;
	text-align: left;
}

.divMenu
{
	width: 20%;
	height: 100%;
	float: left;
}

.divContent
{
	width: 80%;
	height: 100%;
	float: right;
}

.divForm
{
	border: solid 1px #000000;
	width: 800px;
	height: 350px;
	background-color: #EFEFEF;
}

.divFormHeader
{
	background-color: #31A400;
	color: White;
	height: 30px;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10pt;
	line-height: 28px;
}

.data
{
	width: 100%;
}
.data .name
{
	font-weight: bold;
	text-align: right;
	font-family: Verdana;
	font-size: 10pt;
}
.data input[type=text],input[type=password]
{
	width: 600px;
	border: solid 1px #000000;
}
.data .input
{
	width: 250px;
	border: solid 1px #000000;
}
.data .label
{
	font-weight: bold;
	font-family: Verdana;
	font-size: 10pt;
}
.button
{
	background-color: #2E5E22;
	color: White;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	height: 30px;
	width: 100px;
	border: solid 1px #C0C0C0;
}
.button:hover
{
	background-color: #353435;
}