body
{
	font-family: Verdana, Tahoma;
	font-size: 10pt;
	background-color: #FFFFB5;
}

.divMain
{
	width: 1200px;
	height: 800px;
	background-color: #FFFFFF;
}

.divUserHeader
{
	background-color: #31A400;
	color: White;
	height: 50px;
	width: 100%;
	text-align: right;
	vertical-align: middle;
	font-size: 10pt;
	line-height: 45px;
}

.divHeader
{
	background-color: #DFFFF0;
	width: 100%;
	height: 60px;
	font-family: Harrington;
	font-size: 26pt;
	line-height: 55px;
	vertical-align: middle;
	text-align: left;
}

.divMenu
{
	padding-top: 7px;
	width: 18%;
	height: 100%;
	float: left;
	
}
.divContent
{
	padding-top: 7px;
	width: 80%;
	height: 100%;
	float: right;
}
.divFooter
{
	margin-top: 7px;
	width: 100%;
	height: 100px;
	line-height: 80px;
	background-color: #31A400;
}
.divForm
{
	border: solid 1px #002DFA;
	width: 96%;
	height: 480px;
	float: right;
	background-color: #EFEFEF;
}

.divFilter
{
	border: solid 1px #002DFA;
	width: 96%;
	height: 70px;
	float: right;
	background-color: #EFEFEF;
	margin-bottom: 7px;
}

.divMenuHeader
{
	background-color: #31A400;
	color: White;
	height: 30px;
	width: 99%;
	text-align: left;
	vertical-align: middle;
	border-left: solid 1px #002DFA;
	border-right: solid 1px #002DFA;
	border-top: solid 1px #002DFA;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10pt;
	line-height: 28px;
}
.divFormHeader
{
	background-color: #31A400;
	color: White;
	height: 30px;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10pt;
	line-height: 28px;
}

.data
{
	width: 100%;
}
.data .name
{
	font-weight: bold;
	text-align: right;
	font-family: Verdana;
	font-size: 10pt;
}
.data input[type=text],input[type=password]
{
	width: 600px;
	border: solid 1px #000000;
}
.data .input
{
	width: 250px;
	border: solid 1px #000000;
}
.data .label
{
	font-weight: bold;
	font-family: Verdana;
	font-size: 10pt;
}
.toolbar
{
	text-align: left;
	padding-top: 7px;
	padding-left: 40px;
}

.link
{
	color: White;
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana;
}

.link:visited
{
	color: Blue;
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana;
}